<app-menu></app-menu>

<form [formGroup]="claseForm" class="login-form" (ngSubmit)="onFormSubmit()">
<div class="container-xxl" style="padding-top: 80px;">
    <div class="col-sm-9">

        <ul class="list-group">
          <li class="list-group-item list-group-item-primary" aria-current="true">Crear Clase: </li>
          <li class="list-group-item">
            
            <div class="row mb-3">
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label class="form-label">Nombre</mat-label>
                    <input matInput formControlName="nombre" type="text" class="form-control" required>
                    <mat-hint></mat-hint>
                </mat-form-field>
                
              </div>

                          
            </div>
  
            <div class="row mb-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="form-label">Descripcion</mat-label>
                        <textarea matInput formControlName="descripcion" type="area" class="form-control" rows="6" required></textarea>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>
                          
            </div>

            <div class="row mb-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="form-label">Curso</mat-label>
                        <mat-select formControlName="categoria" name="categoria" required>
                          <mat-option *ngFor="let type of cursos" [value]="type.id_curso">
                              {{type.nombre}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>  
              </div>

              <mat-error> {{ messageError }} </mat-error>
              <br>
              <button [disabled]="!claseForm.valid" mat-flat-button id="login-button" type="submit" color="primary-blue"
                  class="btn btn-primary w-100">Crear clase</button>
          </li>
        </ul>
  
      </div>
</div>
</form>
